# OS
.DS_Store

# Python
__pycache__
*.pyc

# Virtualenv
/.venv/

# Editors
.vscode/
.idea/

# Build
/requirements/*.old.txt

# Run
/.local/
/static/
/tmp/
/env
/.env
/db/
/db.sqlite
/db.sqlite3
/log
